.account-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  height: 100vh;
}
.account-container-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 1;
  height: 90vh;
}
.account-card {
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid grey;
}
.account {
  align-self: flex-start;
  padding-left: 10px;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #1e293b;
}
.account-heading {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #94a3b8;
}
.premium-card {
  display: flex;
}
.logout-button {
  align-self: center;
  padding: 8px 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  outline: none;
  border: none;
  background: #e50914;
  border-radius: 8px;
  color: #ffffff;
}
.account-ultra {
  border: 1px solid #1e293b;
  border-radius: 2px;
  display: flex;
  align-self: center;
}
