.navbar {
  width: 100%;
  padding: 10px;
  background: #131313;
  opacity: 0.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.movie-logo-image {
  align-self: flex-start;
  padding: 0px;
  margin: 0px;
  width: 110px;
}
@media screen and (min-width: 769px) {
  .movie-logo-image {
    width: 150px;
  }
}
.avatar {
  height: 48px;
  width: 48px;
  left: 1227px;
  top: 28px;
  border-radius: 0px;
}
.nav-card {
  display: flex;
}
.heading-list-container {
  display: flex;
  list-style-type: none;
}
.heading-list {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  padding-left: 20px;
  letter-spacing: -0.355556px;
  text-decoration: none;
  color: #ffffff;
}
.search-icon {
  height: 24px;
  width: 24px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border: none;
  color: #ffffff;
  background-color: transparent;
  margin: 20px;
}
.search-icon-button {
  background-color: transparent;
  border: none;
}
