.movie-item-details-container {
  width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;

  background: #181818;
}
.movie-item-details-image-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding-top: 70px;
  padding-left: 100px;
  width: 50%;
}

.movie-item-heading {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 63px;
  color: #ffffff;
}
.movie-item-list-container {
  display: flex;
  list-style-type: none;
}
.movie-item-list {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  padding-right: 10px;
  color: #ffffff;
}
.movie-item-censor {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  padding: 4px;
  line-height: 23px;
  font-size: 12px;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.overview {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.play-button {
  height: 40px;
  width: 74px;
  left: 164.5px;
  top: 419px;
  border-radius: 3px;
}
.movie-item-list-card {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.movie-item-list-heading {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #94a3b8;
}
.movie-item-list-details {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.more-like-this-heading {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  padding-left: 100px;
}
.similar-movie-item-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  list-style-type: none;
}
