.footer-container {
  width: 100%;
  line-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  background-size: cover;
}
.footer-icon {
  margin: 10px;
  color: #ffffff;
}
.contact-us {
  color: #ffffff;
  font-size: 15px;
}
