.search-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.search-main-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-between;
  min-height: 100vh;
}
.search-content {
  color: white;
}
.popular-video-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.try-again-button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.input-element-container {
  background-color: transparent;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  width: 280px;
}

.search-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}

.input-element {
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  align-self: flex-end;
}
@media screen and (max-width: 768px) {
  .failure-image {
    width: 220px;
  }
}
.popular-image {
  height: 170px;
  width: 255px;
  border-radius: 8px;
}
